<div class="masthead">
  <nav class="language-nav">
    <ul>

      <li><a href="">CSS</a></li> 
      <li><a href="">HTML</a></li> 
      <li><a href="">Javascript</a></li> 
      <li><a href="">Ruby</a></li> 
    </ul>
  </nav>
  <img src="<%= image_url "AA_Times_Logo.png" %>" class="logo">
  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li><i class="far fa-newspaper"></i><button id="masthead-paper">Today’s Paper</button></li>
    <li><i class="fas fa-video"></i><button id="masthead-video">Video</button></li>
    <li><button id="temp">77°F</button></li>
    <li><button id="stocks">AAO</button><strong>+100%</strong></li>
  </ul>
  

</div>