/* PUT FLUID GRID CODE HERE */
nav {
    float: right;
}

section {
    width: 75% ;
    display: inline-block;
    vertical-align: top;
}

aside {
    width: 25%;
    margin-right: 15px;
    float: left;
    clear: both;
}
